*{
	margin: auto;
	box-sizing:border-box;
	padding: 0px;
}

/*------------------images---------------------*/

img{
	background-position: fixed;
	margin-left: : 20px;
	width: 100%;
}
h2{
	margin-top: -150px;
	color:white;
	text-align: center;
	text-transform: capitalize;
	font-size: 30px;
}
h5{
	font-size: 15px;
	color:white;
	line-height: 1,5px;
		text-align: center;
	text-transform: capitalize;

}
h1{
	text-align: center;
	text-transform: uppercase;
}
h1.page{
	margin-top:550px;
}

/*---------------------------------------*/

.button{
	margin-top: 15px;
  border-radius: 4px;
  background-color:#ffa366;
  border: none;
  color: #000000;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 480px;
}

.button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover a {
	text-decoration: none;
  color: white;
}

.button:hover a :after {
  opacity: 1;
  right: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.bton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.bton:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    margin: auto;
  }
}
.card img1{
	width: 10px;
}
@media screen and (max-width: 800px) {
 .navbar-brand {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .nav-item{
  	width: 100%; 
  	margin-left:10px;
  }
}